[Desktop Entry]
Encoding=UTF-8
Name=Eventlist
Name[de]=Ereignisliste
Name[sk]=Zoznam udalostí
Name[uk]=Список подій
Name[ru]=Список событий
Comment=Shows a list with the events from Akonadi resources
Comment[de]=Zeigt eine Liste mit den Ereignissen etc. von Akonadi Ressourcen
Comment[sk]=Zobrazuje zoznam udalostí z Akonadi zdrojov
Comment[uk]=Показує список подій із ресурсів Akonadi
Comment[ru]=Показывает список событий из ресурсов Akonadi
Icon=view-pim-tasks
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_events

X-KDE-PluginInfo-Author=Gerd Fleischer
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=plasma_applet_events
X-KDE-PluginInfo-Version=0.2.91
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
