[Desktop Entry]
Name=EVENT Data Engine
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=go-jump-today
X-KDE-Library=plasma_engine_events
X-Plasma-EngineName=events
X-KDE-PluginInfo-Name=events