[Desktop Entry]
Name=Event List
Comment=Shows a list with the events from Akonadi resources
Icon=view-pim-tasks
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_events

X-KDE-PluginInfo-Author=Gerd Fleischer
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=plasma_applet_events
X-KDE-PluginInfo-Version=0.7
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
