[Desktop Entry]
Name=Event List
Name[bg]=Списък със събития
Name[bs]=Lista događaja
Name[ca]=Llista d'esdeveniments
Name[cs]=Seznam událostí
Name[da]=Begivenhedsliste:
Name[de]=Terminliste
Name[es]=Lista de eventos
Name[et]=Sündmuste nimekiri
Name[fr]=Liste d'évènements
Name[ga]=Liosta Imeachtaí
Name[gl]=Lista de acontecementos
Name[hu]=Eseménylista
Name[it]=Elenco eventi
Name[km]= បញ្ជី​ព្រឹត្តិការណ៍
Name[mr]=घटना यादी
Name[nds]=Begeefnislist
Name[nl]=Afsprakenlijst
Name[pl]=Lista zdarzeń
Name[pt]=Lista de Eventos
Name[pt_BR]=Lista de eventos
Name[sk]=Zoznam udalostí
Name[sv]=Händelselista
Name[tr]=Olay Listesi
Name[ug]=ھادىسە تىزىمى
Name[uk]=Список подій
Name[x-test]=xxEvent Listxx
Comment=Shows a list with the events from Akonadi resources
Comment[bg]=Показване на списък със събития от ресурси Akonadi
Comment[bs]=Prikazuje listu događaja s Akonadi resursa
Comment[ca]=Mostra una llista amb els esdeveniments als recursos de l'Akonadi
Comment[cs]=Zobrazí seznam událostí ze zdrojů Akonadi
Comment[da]=Viser en liste med begivenheder fra Akonadi-ressourcer
Comment[de]=Zeigt eine Liste mit Terminen aus Akonadi-Ressourcen an
Comment[es]=Muestra una lista con los eventos de los recursos de Akonadi
Comment[et]=Sündmuste nimekirja näitamine Akonadi ressursside põhjal
Comment[fr]=Affiche une liste comportant les évènements provenant des ressources Akonadi
Comment[ga]=Taispeáin liosta d'imeachtaí ó acmhainní Akonadi
Comment[gl]=Mostra unha lista cos acontecementos dos recursos de Akonadi
Comment[hu]=Akonadi erőforrások eseményei listájának megjelenítése
Comment[it]=Mostra un elenco con gli eventi delle risorse di Akonadi
Comment[km]=បង្ហាញ​បញ្ជី​ដែលមាន​ព្រឹត្តិការណ៍​ពី​ធនធាន Akonadi
Comment[mr]=आकोनाडी संसाधनातील घटनांची यादी दर्शवितो
Comment[nds]=Wiest en List mit de Begeefnissen ut Akonadi-Ressourcen
Comment[nl]=Toont een lijst met afspraken uit hulpbronnen in Akonadi
Comment[pl]=Pokazuje listę z zdarzeniami z zasobów Akonadi
Comment[pt]=Mostra uma lista com os eventos dos recursos do Akonadi
Comment[pt_BR]=Mostra uma lista com os eventos dos recursos do Akonadi
Comment[sk]=Zobrazí zoznam s udalosťami zo zdrojov Akonadi
Comment[sv]=Visar en lista med händelser från Akonadi-resurser
Comment[tr]=Akonadi kaynaklarındaki olayların bir listesini gösterir
Comment[ug]=Akonadi مەنبەلىرىدىن كەلگەن ھادىسىلەرنىڭ تىزىمىنى كۆرسىتىدۇ
Comment[uk]=Показує список подій на основі даних ресурсів Akonadi
Comment[x-test]=xxShows a list with the events from Akonadi resourcesxx
Icon=view-pim-tasks
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_events

X-KDE-PluginInfo-Author=Gerd Fleischer
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=plasma_applet_events
X-KDE-PluginInfo-Version=0.6.97
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
